@font-face
{
    font-family: 'fzsh';
    src: url('../assets/fonts/FZShiMSLSJW.TTF');
    font-weight: normal;  
    font-style: normal;  
}

// @font-face
// {
//     font-family: 'fzfs';
//     src: url('../fonts/FZFSJW.ttf');
//     font-weight: normal;  
//     font-style: normal; 
// }